# Ignore Git directory itself 
.git/
*.git
.vscode/

# Ignore various build products and caches
*.pytest_cache
*.egg-info
__pycache__/
build/
dist/
doc/build/
doc/source/api/

# Ignore virtual environment directories
/venv/
/.venv/
/env/
/.env/
/bin/
/include/
/lib/
/lib64
/pyvenv.cfg

# Ignore general Python byte-code and swap files
*.pyc
*.swp